#Title{
  text-align:center;
  border:solid;
  padding:10px;
  margin-bottom:0;
}
.btn{
  border:solid;
  margin:10px;
  padding:10px 40px;
  background-color: skyblue;
  font-size:20px;
  border-radius: 12px;
  cursor:pointer;
}
body{
  margin:30px;
}
#container{
  border:solid;
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding:10px;
}
#todo{
  border-right:solid 1px;
  display:grid;
  grid-template-columns: 1fr;
}
#done{
  border-left:solid 1px;
  display:grid;
  grid-template-columns: 1fr;
}
